/* mengatur warna backgroud dan padding pada tag body bagian atas agar form tidak menempel diatas */
body {
    background: #2666cf;
    padding-top: 20vh;
    margin-top: 35px;
}

/* mengatur warna backgroud form */
form {
    background: #fff;
}

/* mengatur border dan padding class form-container */
.form-container {
    border-radius: 100px;
    padding: 100px;
}
.h3 {
    font-size: 15pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
}
